# Hent db-fil og gjør tilkobling

In [1]:
# Download databasefile for stage branch
import os
import requests
import pandas as pd
# set desired branch to get dbfile from here:
branch = 'develop' # usually 'develop','test' or 'master'

url = f"https://raw.githubusercontent.com/Artsdatabanken/nin3-kode-api/{branch}/NiN3.WebApi/nin3kodeapi.db" # Henter nin3 database fra nin3 repo branch:develop
response = requests.get(url)
with open("inn_data/nin3kodeapi.db", "wb") as f:
    f.write(response.content)
    
# query nin3kodeapi.db with pandas
import pandas as pd
import sqlite3

conn = sqlite3.connect("inn_data/nin3kodeapi.db")

## Skriv en tabell til CSV
Du kan liste ut alle views og tabeller som kan spørres mot i boksen "Vis alle tabeller/views og antall rader"

In [3]:
conn = sqlite3.connect("inn_data/nin3kodeapi.db")
from datetime import datetime
# Skriv inn ønsket tabell
tabell = "Enumoppslag" # 'Versjon', 'Hovedtypegruppe', 'Hovedtype', 'Grunntype', 'Kartleggingsenhet', 'Variabel', 'Variabelnavn', 
filter_kolonne = None # Kolonnenavn i valgt tabell
filter_verdi = None # Verdi i valgt kolonne


df = pd.read_sql_query(f"SELECT * FROM {tabell}", conn)
if(filter_kolonne):
    df = df[df[filter_kolonne] == filter_verdi]
display(f"Ant. rader {df.shape[0]}")
print("Preview: første 3 rader:")
display(df.head(3))

# Skrive resultat til CSV
filename = f"rapporter/{tabell}_{datetime.now().strftime('%Y%m%d_%H%M%S')}.csv"
df.to_csv(filename, index=False)
print(f"\nResultat er skrevet til: {filename}")
conn.close()

'Ant. rader 126'

Preview: første 3 rader:

   Id  VersjonId  Ordinal Verdi    Beskrivelse         Enumtype
0   1          1        0     A       Abiotisk  EcosysnivaaEnum
1   2          1        1     B        Biotisk  EcosysnivaaEnum
2   3          1        2     C  Økodiversitet  EcosysnivaaEnum

Resultat er skrevet til: rapporter/Enumoppslag_20231206_125135.csv

## Vis alle tabeller/views og antall rader

In [2]:
conn = sqlite3.connect("inn_data/nin3kodeapi.db")#Åpner kobling til databasefil
df_tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
df_views = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='view'", conn)
print("** Tabeller:")
for table in df_tables['name']:
    count = pd.read_sql_query(f"SELECT COUNT(*) FROM {table}", conn)
    display(f"{table}: {count.iloc[0][0]} rows")
print("\n** Views:")
for view in df_views['name']:
    count = pd.read_sql_query(f"SELECT COUNT(*) FROM {view}", conn)
    display(f"{view}: {count.iloc[0][0]} rows")
conn.close()

** Tabeller:

'Maaleskala: 158 rows'

'sqlite_sequence: 19 rows'

'Versjon: 2 rows'

'Trinn: 1053 rows'

'AlleKortkoder: 3570 rows'

'Enumoppslag: 126 rows'

'Kartleggingsenhet: 1284 rows'

'Type: 10 rows'

'Variabel: 5 rows'

'Hovedtypegruppe: 69 rows'

'Variabelnavn: 370 rows'

'Hovedtype: 431 rows'

'Hovedtypegruppe_Hovedoekosystem: 31 rows'

'VariabelnavnMaaleskala: 527 rows'

'Grunntype: 1401 rows'

'Hovedtype_Kartleggingsenhet: 1284 rows'

'HovedtypeVariabeltrinn: 184 rows'

'GrunntypeVariabeltrinn: 12814 rows'

'Kartleggingsenhet_Grunntype: 2584 rows'

'Konvertering: 489 rows'

'db_info: 1 rows'

** Views:

'MaaleskalaView: 152 rows'

'GrunntypeVariabeltrinnView: 12653 rows'

'HovedtypeVariabeltrinnView: 184 rows'

'SjekkUnikeHovedklasserView: 6 rows'

'HovedtypeKleView: 1284 rows'

'AlleLangkoderView: 3570 rows'

'DuplikateLangkoderView: 4 rows'